/*
#DECAA9 milk tea
#A4B07E matcha
#0D2818 forest green
#6D4930 coffee 
*/

/* Styling for Navagation Bar !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* style the layout of the navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #a4b07e;
  color: #6d4930;
}

.navLinks a {
  color: #6d4930;
}

/* style the navbar menu */
.navOptions {
  display: flex;
  gap: 1em;
  font-size: 30px;
}

.navOptions li:hover {
  background-color: #8f9a6c;
  border-radius: 5px;
  transition: 0.3s ease;
}

.navOptions li {
  padding: 5px 14px;
}

/* dropdown menu */
.home {
  position: relative;
}

.dropdown {
  background-color: #decaa9;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  gap: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #a39378;
}

.home:hover .dropdown {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .navOptions {
    display: none;
    position: absolute;
    background-color: #a4b07e;
    right: 0;
    left: 0;
    text-align: center;
    padding: 15px 0;
    top: 150px;
  }

  .navOptions li:hover {
    display: inline-block;
    background-color: #8f9a6c;
    transition: 0.3s ease;
  }

  .navOptions li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .navOptions {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 30%;
    top: 2px;
    transform: translateX(35%);
  }

  .dropdownli:hover {
    background-color: #a4b07e;
  }
}

/* Styling for index.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.lBody {
  background-image: url(../media/images/6.png);
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
}

.lLayout {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "text image" 50%
    "filler3 filler4" 40%
    / 100% 0%;
}

.text {
  grid-area: text;
  font-size: 75px;
  margin-top: auto;
  margin-bottom: auto;
}

.filler3::after {
  content: url(../media/images/catdown.png);
  grid-area: image;
  font-size: 50px;
  left: 75%;
  float: right;
}

#toggle:checked ~ .filler3::after {
  content: url(../media/images/catup.png);
  grid-area: image;
  left: 75%;
  float: right;
}

.toggle {
  background: #a4b07e;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 40px;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
}

.filler4 {
  grid-area: filler4;
}

/* Styling for home.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hBody {
  background-image: url(../media/images/layered-waves-haikei.png);
  background-size: 100vw 100vh;
  font-size: 20px;
}

.quote {
  text-indent: 1%;
}

.hPageTitle {
  color: #a4b07e;
}
/* Styling for resume.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.rBody {
  background-image: url(../media/images/layered-steps-haikei.png);
  background-size: 100vw 100vh;
  font-size: larger;
}

/* Styling for funfacts.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.ffBody {
  background-image: url(../media/images/5.png);
  background-size: 100% 100%;
}

.ffPageTitle {
  color: #0f331e;
}
.ffLayout {
  width: 100%;

  display: grid;
  grid:
    "book booktxt" 300px
    "song songxtx" 300px
    "movie movietxt" 300px
    / 50% 50%;
}

.book {
  grid-area: book;
  display: flex;
  place-items: center;
  justify-content: center;
}
.booktxt {
  grid-area: booktxt;
  font-size: 25px;
  color: #a4b07e;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.song {
  grid-area: song;
  display: flex;
  place-items: center;
  justify-content: center;
}
.songxtx {
  grid-area: songxtx;
  font-size: 25px;
  color: #a4b07e;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.movie {
  grid-area: movie;
  display: flex;
  place-items: center;
  justify-content: center;
}
.movietxt {
  grid-area: movietxt;
  font-size: 25px;
  color: #a4b07e;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}
